.App {
  background-color: #61dafb;
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: serif;
}

.Sana{
  background-color: rgb(251, 255, 0);
  border: crimson;
  border-radius: 5px;
  border-width: 20px;
  box-sizing: content-box;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align:center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
